<a
  [routerLink]="this.path"
  routerLinkActive
  #link="routerLinkActive"
  [routerLinkActiveOptions]="this.options || { exact: false }"
  [ngClass]="
    link.isActive
      ? ['border-brand-500', 'bg-brand-50', 'text-brand-700']
      : [
          'border-transparent',
          'text-gray-600',
          'hover:border-gray-300',
          'hover:bg-gray-50',
          'hover:text-gray-800'
        ]
  "
  class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium"
  aria-current="page"
>
  {{ this.text }}
</a>
