<nav class="bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <a [routerLink]="['']">
            <img
              class="block h-14 w-auto"
              src="assets/images/branding/logo.svg"
              alt="Galaxy Quest"
            />
          </a>
        </div>
        <app-nav-link-list></app-nav-link-list>
      </div>
      <app-mobile-nav-menu-button></app-mobile-nav-menu-button>
    </div>
  </div>

  <app-mobile-nav></app-mobile-nav>
</nav>
